.inter-font {
    font-family: "Inter", sans-serif;
    font-weight: weight;
}




.bg-black {

    background: rgba(26, 11, 46, 1);
}

.navbar {
    margin: 0 auto;
    max-width: 1200px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.nav-links li a {
    text-decoration: none;
    color: white;
}

.nav-links li {
    list-style: none;
}

.nav-links {
    gap: 15px;

}

.hero-image {
    background: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    padding-top: 101px;
    padding-bottom: 101px;
}

.hero-circle {
    position: relative;
    width: 350px;
    height: 350px;
}

.hero-circle .mic {
    width: 140px;
}

.hero-circle .mic-frame {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-circle .badge {
    position: absolute;
    top: 16px;
    right: 24px;
    background: #34D399;
    color: #0B0120;
    font-size: 1rem;
    padding: 6px 14px;
    border-radius: 999px;
    z-index: 5;
}




/* shared style */
.display-flex {
    display: flex;
}

.text {
    color: white;
}

.text2 {
    color: rgb(140, 136, 136);
    font-size: 1rem;
    font-weight: 400;
}


.primary-btn {
    max-width: 135px;
    /* height: 44px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4;
    padding: 12px 16px 12px 16px;
    border-radius: 10000px;
    color: white;
    border: none;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1)));
    cursor: pointer;
}

.display-hidden {
    display: none;
}

.btn2 {
    color: white;
    width: 180px;
    height: 44px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: none;
    padding: 12px 20px 12px 20px;
    border-radius: 10000px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1)));
}

.btn3 {
    color: #00FF88;
    width: 147px;
    display: inline flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: transparent;
    border-radius: 999px;
    padding: 12px 20px 12px 20px;
    border: 1.5px solid #34D399;
}

.hero-btn {
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.hero-title {
    color: rgba(255, 255, 255, 1);
    font-style: Extra Bold;
    font-size: 3.75rem;
    font-weight: 800;
    margin: 0;
}

.hero-description {
    color: rgb(133, 121, 121);
    font-style: Regular;
    font-size: 1rem;
    text-align: center;
}


.about-section {
    margin: 0 auto;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* padding: 50px 0; */
}

hr {
    opacity: 0.15;
}

.card-title {
    color: #00FF88;
    font-size: 3rem;
    margin: 0;
    width: 240px;
    height: 58px;
}

.about-card {
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 100px;
}

.why-section {
    margin: 0 auto;
    max-width: 1200px;
}

.why {
    background: rgba(35, 14, 61, 1);
    max-width: 1600px;
    gap: 40px;
    padding: 40px 120px 80px 150px;
}

.why-title {
    color: rgba(255, 255, 255, 1);
    font-style: Bold;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

.grid-container {
    display: grid;
    gap: 30px;
    grid-template-columns: 380px 1fr 1fr;
    grid-template-rows: 225px 225px 273px;
    grid-template-areas:
        "box-1 box-2 box-2 "
        "box-1 box-3 box-3"
        "box-4 box-4 box-5";
}

.why-title {
    color: rgba(255, 255, 255, 1);
    font-style: Bold;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

.box {
    padding: 40px;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box img {
    width: 60px;
    height: 60px;
}

.box h3 {
    margin: 0;
}

.frame-section {
    margin: 0 auto;
    max-width: 1200px;
    margin-top: 120px;
}

.yt-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.yt-img {
    width: 20px;
    height: 20px;
}

.yt-min {
    color: rgba(0, 255, 136, 1);
    font-size: 1rem;
    font-weight: 600;
}

.yt-flex {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.bg-card {
    background: rgba(37, 13, 68, 1);
    padding: 24px;
}

.yt-featured {
    color: rgba(255, 255, 255, 1);
    font-style: Bold;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}


.host {
    margin: 0 auto;
    max-width: 1200px;
    margin-top: 120px;
}

.host-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    padding: 40px;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
}

.host-title {
    font-style: Bold;
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
}

.social-icon {
    width: 40px;
    height: 40px;
    border: 2px solid rgba(255, 255, 255, 0.25);
    /* circle border */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.socials {
    gap: 10px;
}

.footer {
    background: url(./assets/footer-bg.png);
    max-width: 1600px;
    height: 412px;
    margin-top: 120px;
}

.footer-content {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 140px;
}

.footer-platforms {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-left: 100px;
    margin-top: 34px;
}

.footer-icon {
    gap: 10px;
}

.footer-para{
    margin-left: 100px;
}